.calc-container {
  border-radius: 5px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  width: 400px;
}

.clear-display-container {
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  width: 400px;
}

output.output {
  background-color: DeepSkyBlue;
  border-radius: 2.5px;
  color: DodgerBlue;
  font-family: Helvetica;
  font-size: 60px;
  height: 100px;
  margin-top: 1.5px;
  padding-right: 15px;
  text-align: right;
  width: 300px;
}

#clear-button {
  font-size: 20px;
}

.btn-success {
  font-family: Helvetica;
  font-size: 30px;
  height: 100px;
  margin: 1.5px;
  width: 100px;
}

.button:hover {
  background-color: Orange;
}

.button:active {
  box-shadow: 2 10px Black;
}

.row-1-container {
  display: flex;
  flex-direction: row;
}

.row-2-container {
  display: flex;
  flex-direction: row;
}

.row-3-container {
  display: flex;
  flex-direction: row;
}

.row-4-container {
  display: flex;
  flex-direction: row;
}
